WHATSAPP COMPLETE TUT (1).json
{
  "name": "WHATSAPP COMPLETE TUT",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        112
      ],
      "id": "eca10977-2aa4-4193-a0d4-fb5022c08435",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Message Received').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        320
      ],
      "id": "c9640a67-d546-4ad3-93e9-7f99dfb48ba2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -80
      ],
      "id": "de4ed07f-3df3-4536-8d49-6eec5b83cb84",
      "name": "When Message Received",
      "webhookId": "caa52bd0-ef26-403b-8e44-c9a404d6c1cc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "NOlF4KM7Qvf4BYJt",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "9f6fcf26-772c-4a9a-820a-11c9832ce593",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MJEAH8XTgrTu3EA5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd9c9a4-9606-45ab-b721-f940f1fd9e8a",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        112
      ],
      "id": "e5fa2c35-2423-4631-9e15-86c81756e3bc",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8eb81dc9-62b3-427f-ae4b-10f9d43af442",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1fcef13d-14f7-46c0-b417-5378f436a7e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc14f8d5-1d2b-4014-8db2-3215e90e0f0f",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3798ea29-f0f9-4c20-aa73-2024f123bd03",
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        -112
      ],
      "id": "0e6cfada-d4b3-4ce6-b74d-a668949eaca7",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        -128
      ],
      "id": "e7b4dc42-4e89-4594-9fc8-5b92a8873988",
      "name": "Get Audio URL",
      "webhookId": "f6bc5aa5-6bf5-4fc0-8265-13f4d848a7a7",
      "credentials": {
        "whatsAppApi": {
          "id": "2n47bqEw21k0f6MN",
          "name": "WhatsApp account 9"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -128
      ],
      "id": "b081ed7b-c13a-417f-80ce-a5d3bf6b1047",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hxcsgNRElURA23El",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -128
      ],
      "id": "0f5c1856-d0ec-4bc3-9c02-bec58e73ab84",
      "name": "Transcribe Audio",
      "credentials": {
        "googlePalmApi": {
          "id": "MJEAH8XTgrTu3EA5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b722641c-0b84-4d55-b2e5-06c8d601cb45",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -128
      ],
      "id": "fa952f0f-2f39-410c-8335-b26560d439c1",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=746824585185466",
        "recipientPhoneNumber": "+91 8527673357",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        800,
        128
      ],
      "id": "dc4fb4ca-a750-402d-bf24-ae858e114c64",
      "name": "Respond with text",
      "webhookId": "79a6ad7f-6526-460c-876e-f47055e584a4",
      "credentials": {
        "whatsAppApi": {
          "id": "2n47bqEw21k0f6MN",
          "name": "WhatsApp account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        -448
      ],
      "id": "5e11e976-c55a-4eee-ad0e-98c6c88ffe00",
      "name": "Download media",
      "webhookId": "589e33b1-9d25-4097-9bec-60f4cd2acb97",
      "credentials": {
        "whatsAppApi": {
          "id": "2n47bqEw21k0f6MN",
          "name": "WhatsApp account 9"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -448
      ],
      "id": "dac0ea38-867e-4d48-8cc2-8f7129c8d81b",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hxcsgNRElURA23El",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -448
      ],
      "id": "bff3ce93-b161-4874-97dd-ecfce4c27dbd",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "MJEAH8XTgrTu3EA5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a340d7-9a35-401c-aadb-c790427d0820",
              "name": "text",
              "value": "=#the user provided the following image and text.\n\n##image description:\n{{ $json.content.parts[0].text }}\n\n##User Message:\n{{ $('When Message Received').item.json.messages[0].image.caption || \"Describe this image.\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -448
      ],
      "id": "acb7daac-ca02-4c74-8f69-b3283130e60a",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('When Message Received').item.json.messages[0].document.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -720,
        336
      ],
      "id": "91ae601f-3065-4498-821c-70c4f3783d7a",
      "name": "Download docs",
      "webhookId": "6872f5a3-d9c2-4af0-8336-571a56a47d99",
      "credentials": {
        "whatsAppApi": {
          "id": "2n47bqEw21k0f6MN",
          "name": "WhatsApp account 9"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        336
      ],
      "id": "085b92b1-c528-4b37-b582-cd896708bf23",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hxcsgNRElURA23El",
          "name": "Header Auth account 9"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this document page wise analysis?",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        336
      ],
      "id": "538c2e76-bd9c-4da3-a456-55936e62124c",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "MJEAH8XTgrTu3EA5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82678638-fed6-4297-8868-ee8a12b69cdd",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        336
      ],
      "id": "2900e2e6-07cc-49a8-8f65-9cb058e7d0f0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond with text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Message Received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download docs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "27efd5eb-9984-4b96-b0b0-5f3dbda2a3bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28068a2754c2fe5bd5bc054a8aea3ee9b32beff21e5d66510667ce81f441f7e9"
  },
  "id": "qmn6dtPpCdESSy3E",
  "tags": []
}